# http://editorconfig.org

root = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length=120

# Microsoft .NET properties
csharp_new_line_before_else=false
csharp_new_line_before_open_brace=none
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=true:warning
dotnet_style_qualification_for_field=true:warning
dotnet_style_qualification_for_method=true:warning
dotnet_style_qualification_for_property=true:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_add_imports_to_deepest_scope=true
resharper_align_linq_query=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_between_using_groups=1
resharper_brace_style=end_of_line
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_blank_lines_around_field=0
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_max_line_length=150
resharper_csharp_new_line_before_while=true
resharper_csharp_stick_comment=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_html_blank_line_after_pi=false
resharper_html_pi_attribute_style=first_attribute_on_single_line
resharper_js_quote_style=singlequoted
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_new_line_before_else=false
resharper_place_accessorholder_attribute_on_same_line=False
resharper_place_constructor_initializer_on_same_line=false
resharper_place_field_attribute_on_same_line=False
resharper_place_simple_accessor_on_single_line=false
resharper_place_simple_embedded_statement_on_same_line=True
resharper_place_type_constraints_on_same_line=false
resharper_qualified_using_at_nested_scope=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_linq_expressions=chop_always

# ReSharper inspection severities
resharper_html_tag_not_resolved_highlighting=none
